.text {
  font-family: 'Aleo',
    serif;
}

.text-h1 {
  font-weight: 700;
  margin: 0;
  font-size: 30pt;
}

.text-h2 {
  font-weight: 400;
  font-size: 16pt;
}

.text-h4 {
  font-weight: 100;
  font-size: 10pt;
}

.text-h5 {
  font-weight: 100;
  font-size: 12pt;
}

.text-h6 {
  font-weight: 100;
  font-style: italic;
  font-size: 12pt;
}

.text-h6-forms {
  font-weight: 100;
  font-size: 12pt;
  color: #a3a3a3;
}

.text-article {
  /* font-family: 'Inter',
  sans-serif; */
  font-weight: 400;
  font-size: 13pt;
}