.article-full {
  margin: 0 auto;
}

.article-source-full {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  margin-top: 5px;
}

.full-text {
  padding: 10px 0;
}

.article-footer-full{
  display: flex;
  justify-content: space-between;
padding: 10px 0;
}
