<!-- content -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <!-- form start -->
      <div class='text text-h2'>Add a new source:</div>
      <p></p>
      <form>
        <!-- source -->
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="source_name" class='text text-article'>Source name</label>
              <input type="text" class="form-control text text-h6-forms" id="source_name" aria-describedby="source_name"
                       placeholder="Source">
            </div>
          </div>
        </div>
        <!-- URL -->
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label for="source_url" class='text text-article'>URL</label>
              <input type="text" class="form-control text text-h6-forms" id="source_url" aria-describedby="source_url"
                       placeholder="https://www.blog.com">
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-dark text text-article">Add source</button>
        <a href="javascript: history.go(-1)" class="btn btn-light text text-article ml-2">Cancel</a>
      </form>
    </div>
    <!-- form end -->
  </div>
</div>
