<!-- content -->
<div class="container-fluid">
  <div class="row pb-3">
    <% posts = PostRepository.new.all %>
    <!-- article start-->
    <% posts.each do |p| %>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
        <div class="article-body">
          <div class="article-title">
            <div class='text text-h2'><a href='article.html' class='article-link'><%= p.title %></a></div>
          </div>
          <div class="article-source">
            <div class='text text-h5'>-source-</div>
            <a href="" class="star"><i class="fas fa-star"></i></a>
          </div>
          <div class="article-brief">
            <div class='text text-p'><a href='article.html' class='article-link'><%= p.text[0..1000] %></a></div>
          </div>
        </div>
        <div class="article-footer">
          <div class='text text-h5'><%= p.published %></div>
        </div>
        <div class="divider"></div>
      </div>
    <% end %>
    <!-- article-end -->
  </div>
</div>
