<!-- content -->
<div class="container-fluid">
  <div class="row pb-3">
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
    <!-- article start-->
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3 article">
      <div class="article-body">
        <div class="article-title">
          <div class='text text-h2'><a href='article.html' class='article-link'>How to speed up Node re-builds by
              leveraging docker
              multi-stage builds</a></div>
        </div>
        <div class="article-source">
          <div class='text text-h5'>freeCodeCamp</div>
          <a href="" class="star"> <i class="fas fa-star"></i></a>
        </div>
        <div class="article-brief">
          <div class='text text-p'><a href='article.html' class='article-link'>Reinstalling npm dependencies can be a
              wasteful
              use of time
              and money. Depending
              on the size of your project, this
              can take several minutes. In my personal experience, I’ve seen npm install take upwards of 5 minutes.
              Now, if you
              have separate stages (Gate, CI, different environment branches) to your pipeline, this waiting time
              gets
              even worse.
              All jokes aside from the picture below, waiting is pricey!
              Waste is expensive, very expensive
              TL;DR
              It’s a significant amount of money (~$9,918/yr per developer) and time (18,792 minutes per year or
              13.05
              days per year)
              that’s wasted waiting for dependencies to install while our code goes through its pipeline.</a></div>
        </div>
      </div>
      <div class="article-footer">
        <div class='text text-h5'>41 min ago</div>
      </div>
      <div class="divider"></div>
    </div>
    <!-- article-end -->
  </div>
</div>
