<!-- content -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
        <!-- list start -->
        <div class='text text-h2'>List of sources</div>
        <ul class='sources-list'>
          <!-- item start -->
          <li class='source-list-item'>
            <div class="item-block-one">
              <div class="source-title text text-h3">Source</div>
              <div class="source-url text text-h5"><a href='' class='source-link'>https://www.blog.com</a></div>
            </div>
            <div class="item-block-two">
              <i class="fas fa-pen p-3"></i>
              <i class="far fa-trash-alt p-3"></i>
            </div>
          </li>
          <!-- item end -->
          
        </ul>
        <!-- list end -->
        <div class="button-space">
          <a href="javascript: history.go(-1)" class="btn btn-light text text-article">Go back</a>
        </div>

      </div>
    </div>
  </div>