<!-- content -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
      <!-- form start -->
      <div class='text-center text text-h2'>Sources</div>
      <p></p>
      <div class="button-space">
        <a href="sources/new" class="btn btn-dark text text-article">Add Source</a>
      </div>
      <div class="button-space">
        <a href="sources/list" class="btn btn-dark text text-article">Manage Sources</a>
      </div>
      <div class="button-space">
        <a href="/" class="btn btn-light text text-article">Cancel</a>
      </div>
    </div>
    <!-- form end -->
  </div>
</div>
