<!DOCTYPE html>
<html>
  <head>
    <%# pending %>
    <%# <%= favicon %>
    <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="../assets/favicon.ico">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/favicons/favicon-152-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/favicons/favicon-120-precomposed.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/favicons/favicon-180-precomposed.png">
    <link rel="manifest" href="../assets/favicons/manifest.json">
    <link rel="icon" sizes="192x192" href="../assets/favicons/favicon-192.png">
    <!-- meta setup -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%# <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://stackpath.bootstrapcdn.com; style-src-elem 'self' https://stackpath.bootstrapcdn.com;">
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://fonts.googleapis.com; font-src 'self' https://fonts.gstatic.com; font-src 'self' https://fonts.googleapis.com;">
    <meta http-equiv="Content-Security-Policy" content="style-src 'self' https://use.fontawesome.com; style-src-elem 'self' https://use.fontawesome.com;">
    <meta http-equiv="Content-Security-Policy" content="default-src 'self';
        script-src 'self' 'unsafe-inline' https://maps.googleapis.com; object-src 'self';
        connect-src 'self';
        img-src 'self' http://placehold.it;
        style-src 'unsafe-inline' 'self';
        font-src 'self';">
        %>
    <title>The Newsletter</title>
    <!-- links -->
    <link rel="stylesheet" href="../assets/stylesheets/style.css">
    <!-- imports -->
    <link href="https://fonts.googleapis.com/css?family=Aleo:300,300i,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
  </head>
  <body>
    <!-- header -->
    <div class='newsletter-head'>
      <div class='text text-h1 page-title'>The Newsletter</div>
      <div class='text text-h6' id='todayNow'></div>
    </div>
    <!-- content -->
    <%= yield %>
    <!-- float menu -->
    <div class="float-menu">
      <div class="float-menu-button">
        <i class="fas fa-angle-left"></i></div>
      <a href="#top" class='float-a'>
        <div class='button text text-p'>Up</div>
      </a>
      <a href="/" class='float-a'>
        <div class='button text text-p'>Home</div>
      </a>
      <a href="sources.html" class='float-a'>
        <div class='button text text-p'>Sources</div>
      </a>
    </div>
    <!-- scripts -->
    <script>
      document.getElementById("todayNow").innerHTML = currentTimestamp();
      
      function currentTimestamp() {
        var hours = 0;
        var d = new Date(),
          minutes = d.getMinutes().toString().length == 1 ? '0' + d.getMinutes() : d.getMinutes(),
          ampm = d.getHours() >= 12 ? 'pm' : 'am',
          months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October',
            'November', 'December'
          ],
          days = ['Sunday', 'Monday', 'Tueday', 'Wedday', 'Thuday', 'Friday', 'Saturday'];
        if (d.getHours() == 0) {
          hours = 12
        } else if (d.getHours() > 12) {
          hours = d.getHours() - 12
        } else {
          hours = d.getHours()
        };
        return days[d.getDay()] + ', ' + months[d.getMonth()] + ' ' + d.getDate() + ', ' + d.getFullYear() + ' | ' +
          hours + ':' +
          minutes + ampm;
      }
    </script>
  </body>
</html>
