@import url('header.css');
@import url('card.css');
@import url('float-menu.css');
@import url('typography.css');
@import url('footer.css');
@import url('article.css');
@import url('list.css');
@import url('utility.css');
@import url('sources.css');
body {
  background-color: #d6d6d6 !important;
  font-family: 'Aleo', serif;
}

#title {
  cursor: pointer;
}